<div class="">{{ stringul }}</div>

<button (click)="countChange(clickCount)">Button</button>
<div class="">altceva</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="">
    Liviu
    <input type="text" formControlName="name" placeholder="Name" />
  </div>
  <div class="">
    Password:
    <input type="password" formControlName="password" placeholder="Password" />
  </div>

  <button type="submit">SEND</button>
</form>


<div class="liviu">
<div class="nita">
</div>
</div>

<div class="boss">
<div class="petrut">CEVA</div>
</div>
